.container{
  width: 1200px;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align-last: left;
}
.text-right{
  text-align: right;
}
.hide{
  overflow: hidden;
}
.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.position-fixed{
  position: fixed;
}
.border-radius{
  border-radius: 10px;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.ds-inline-block{
  display: inline-block;
}
.m-auto{
  margin: 0 auto;
}
.mr-20{
  margin-right: 20px;
}
.bg-adult {
  background-color: $color-primary;
}
.bg-child {
  background-color: $color-danger;
}
.bg-dark {
  background-color: $color-dark;
}