$color-primary: #73C0D8;
$color-dark: #A5A5A5;
$color-dark2: #333333;
$color-dark3: #666666;
$color-light: #FFFFFF;
$color-danger: #FFA573;
$color-info: rgb(231, 219, 50);

$text-xs: 20px;
$text-sm: 36px;
$text-md: 40px;
$text-lg: 45px;
$text-xl: 50px;
