.view {
  top: 50%;
  right: 15px;
  width: 81%;
  height: 83%;
  background: #333333;
  box-shadow: 10px 10px 20px #00000029;
  border-radius: 17px;
  transform: translateY(-50%);
  @include desktop-md{
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(0%);
    border-radius: 0px;
  }
  @include iPhone-X-horizontal{
    height: 100vh;
  }
  #map {
    width: 64.5%;
    height: 96%;
    top: 50%;
    right: 19.5px;
    transform: translateY(-50%);
    @include iPhone-X-horizontal{
      width: 65%;
    }
    @include tablet{
      width: 63.5%;
    }
    @include Mobile-horizontal{
      width: 60%;
    }
    @include iPhone5-horizontal {
      width: 55%;
    }
    @include Mobile {
      width: 90%;
      height: 38%;
      top: 2%;
      left: 5%;
      transform: translateY(0%);
    }
    .marker-cluster-small {
      background-color: rgba(181, 226, 140, 0.6);
    }
    .marker-cluster-small div {
      background-color: rgba(110, 204, 57, 0.6);
    }
    .marker-cluster-medium {
      background-color: rgba(241, 211, 87, 0.6);
    }
    .marker-cluster-medium div {
      background-color: rgba(240, 194, 12, 0.6);
    }
    
    .marker-cluster-large {
      background-color: rgba(253, 156, 115, 0.6);
    }
    .marker-cluster-large div {
      background-color: rgba(241, 128, 23, 0.6);
    }
    
    .marker-cluster {
      background-clip: padding-box;
      border-radius: 20px;
    }
    .marker-cluster div {
      width: 30px;
      height: 30px;
      margin-left: 5px;
      margin-top: 5px;
    
      text-align: center;
      border-radius: 15px;
      font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
    .marker-cluster span {
      line-height: 30px;
    }
  }
  .menu {
    width: 32%;
    height: 96%;
    top: 50%;
    left: 19.5px;
    transform: translateY(-50%);
    background-color: #fff;
    @include iPhone-X-horizontal{
      width: 30%;
    }
    @include tablet{
      width: 32%;
    }
    @include Mobile-horizontal{
      width: 35%;
    }
    @include iPhone5-horizontal {
      width: 39%;
    }
    @include Mobile {
      width: 90%;
      height: 58%;
      top: 40%;
      left: 5%;
      transform: translateY(0%);
    }
    .info {
      width: 100%;
      height: 20%;
      background-color: $color-primary;
      @include iPhone-X-horizontal {
        height: 32%;
      }
      @include tablet {
        height: 15%;
      }
      @include iPhone6-horizontal {
        height: 32%;
      }
      @include iPhone5-horizontal {
        height: 35%;
      }
      @include Mobile {
        height: 25%;
      }
      @include iPhone5 {
        height: 28%;
      }
    }
    .data{
      width: 100%;
      height: 80%;
      overflow: scroll;
      @include iPhone-X-horizontal{
        height: 68%;
      }
      @include tablet{
        height: 85%;
      }
      @include iPhone6-horizontal {
        height: 68%;
      }
      @include iPhone5-horizontal {
        height: 65%;
      }
      @include Mobile {
        height: 75%;
      }
      @include iPhone5 {
        height: 72%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.info .time {
  width: 100%;
  height: 50%;
  @include iPhone-X-horizontal{
    height: 60%;
  }
  @include tablet{
    height: 60%;
  }
  @include Mobile {
    height: 50%;
  }
  .week {
    top: 10.5px;
    left: 9.3px;
    font-size: 29px;
    color: $color-light;
  }
  .date {
    top: 10.21px;
    right: 14.41px;
    font-size: 12px;
    color: $color-light;
    @include iPhone-X-horizontal{
      top: 20px;
      right: 28px;
    }
    @include tablet{
      top: 20px;
      right: 28px;
    }
    @include Mobile {
      top: 8px;
      right: 8px;
    }
    @include iPhone5 {
      right: 5px;
    }
  }
  .identity {
    top: 23.5px;
    right: 8px;
    font-size: 8px;
    color: $color-light;
    @include iPhone-X-horizontal{
      top: 45px;
      right: 0;
      left: 15px;
    }
    @include tablet{
      top: 45px;
      right: 0;
      left: 15px;
    }
    @include Mobile {
      top: 25px;
      left: unset;
      right: 8px;
    }
    @include iPhone5 {
      right: 5px;
    }
    .number {
      font-size: 18px;
      color: $color-info;
      @include iPhone5 {
        font-size: 15px;
      }
    }
  }
}

.info .search {
  width: 100%;
  height: 50%;
  @include iPhone-X-horizontal{
    height: 40%;
  }
  @include tablet{
    height: 40%;
  }
  .search__input {
    width: 90%;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    padding-left: 18.5px;
    &:focus {
      outline: none;
    }
  }
  .search__btn {
    bottom: 28%;
    right: 15px;
    @include iPad-Pro {
      bottom: 37%;
    }
    @include iPhone-X-horizontal {
      bottom: 24%;
    }
    @include tablet{
      bottom: 24%;
    }
    @include iPhone5-horizontal {
      bottom: 8px;
    }
    @include Mobile {
      bottom: 6px;
    }
  }
}

.data__info{
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(216, 213, 213);
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  &:hover {
    background-color: #adf198;
  }
  h5 {
    padding: 0 9.5px;
    margin-top: 6.5px;
    margin-bottom: 3px;
    font-size: 18px;
    @include Mobile {
      padding: 0 20px;
    }
  }
  p {
    padding: 0 9.5px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: $color-dark3;
    @include Mobile {
      padding: 0 20px;
    }
  }
  .data__warp {
    width: 100%;
    text-align: center;
  }
  .mr-20 {
    @include iPhone-X-horizontal{
      margin-right: 10px;
    }
    @include tablet {
      margin-right: 10px;
    }
    @include iPhone6-horizontal {
      margin-right: 5px;
    }
    @include Mobile {
      margin-right: 20px;
    }
  }
  .data__number {
    display: inline-block;
    margin-top: 7.5px;
    width: 130px;
    height: 28px;
    border-radius: 20px;
    @include iPhone-X-horizontal {
      width: 110px;
    }
    @include tablet {
      width: 110px;
    }
    @include Mobile-horizontal{
      width: 100px;
    }
    @include Mobile {
      width: 120px;
    }
    .data__mask {
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: $color-light;
      font-size: 12px;
    }
    .data__num {
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      color: $color-light;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.mark__info{
  margin-top: 3px;
  height: auto;
  padding: 5px 5px;
  h5 {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 18px;
    @include iPhone5 {
      padding-left: 8px;
    }
  }
  p {
    font-size: 12px;
    margin-top: 1.5px;
    margin-bottom: 0px;
    color: $color-dark3;
    @include iPhone5 {
      padding-left: 8px;
    }
  }
  .data__warp {
    width: 100%;
    text-align: center;
  }
  .mr-20 {
    @include iPhone-X-horizontal{
      margin-right: 10px;
    }
    @include tablet {
      margin-right: 10px;
    }
    @include iPhone6-horizontal {
      margin-right: 5px;
    }
    @include Mobile {
      margin-right: 8px;
    }
  }
  .mark__number {
    display: inline-block;
    margin-top: 7.5px;
    width: 130px;
    height: 28px;
    border-radius: 20px;
    @include iPhone-X-horizontal {
      width: 110px;
    }
    @include tablet {
      width: 110px;
    }
    @include Mobile-horizontal{
      width: 100px;
    }
    @include Mobile {
      width: 120px;
    }
    @include iPhone5 {
      width: 100px;
    }
    .mark__mask {
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: $color-light;
      font-size: 12px;
    }
    .mark__num {
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      color: $color-light;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.leaflet-popup-content {
  @include Mobile {
    margin: 1px 1px;
  }
  @include iPhone5-horizontal {
    margin: 1px 1px;
  }
}