.wrap {
  width: 100%;
  height: 100vh;
  background: #73C0D8 0% 0% no-repeat padding-box;
  .mask {
    width: 864px;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    clip-path: polygon(0 0, 33% 0, 100% 100%, 0% 100%);
    top: 0;
    left: 0;
    @include desktop-md {
      width: 100%;
    }
  }
  .title {
    width: 54px;
    height: 124px;
    font-size: 54px;
    @include iPhone-X-horizontal {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  .up {
    top: 115px;
    left: 103px;
    color: $color-primary;
  }
  .down {
    top: 245px;
    left: 103px;
    color: $color-dark3;
  }
  .title-e {
    top: 400px;
    left: -65px;
    width: auto;
    height: 68px;
    font-size: 51px;
    letter-spacing: 0;
    color: $color-dark3;
    transform: rotateZ(90deg);
    @include iPhone-X-horizontal {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .6);
  z-index: 99;
  img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
}